.play_song{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  background-color: rgba($color: #3c3abe, $alpha: .3);
  border-radius: var(--border-radius);
  padding: 24px;
  min-height: 648px;
  margin-left: 12px;
}

.song {
  &_intro{
    margin-bottom: 40px;
}
  &_img{
    display: block;
    padding-top: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: var(--border-radius);
    position: relative;
    margin-bottom: 32px;
}
  &_img-avatar{
    display: block;
    padding-top: 90%;
    padding-left: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    &-container{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
}
  &_name{
    font-size: 3.4rem;
    line-height: 3.6rem;
    color: var(--second-colour);
    text-align: center;
    margin-bottom: 12px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
  &_artist{
    display: block;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--second-colour);
    text-align: center;
}
  &_control{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}
  &_control-replay{
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    padding: 8px;
    filter: brightness(0.4);
    cursor: pointer;
    &:hover{
      filter: brightness(1);
      text-shadow: #fff 0 0 5px;
    }
}
  &_control-main{
    display: flex;
    align-items: center;
    justify-content: center;
}
  &_control-back{
    @extend .song_control-replay;
}
  &_control-play{
    font-size: 3rem;
    font-weight: 600;
    color: var(--fifth-colour);
    background-color: #fff;
    box-shadow: #fff 0 0 5px;
    cursor: pointer;
    padding: 12px;
    border-radius: 50%;
    margin: 0 8px;
    i{
      position: relative;
      left: 2px;
      transition: transform linear 0.2s;
      will-change: transform;
    }
    .btn-pause{
      display: none;
    }
    &.playing{
      .btn-play{
        display: none;
        transform: rotate(90deg);
      }
      .btn-pause{
        transform: rotate(0);
        display: block;
        left: 0;
      }
    }
}
  &_control-next{
    @extend .song_control-replay;
}
  &_control-random{
    @extend .song_control-replay;
}
}

.progress {
  width: 100%;
  -webkit-appearance: none;
  height: 6px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin-bottom: 24px;
}

.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 6px;
  background-color: var(--sixth-colour);
  cursor: pointer;
}

.song_control-random.active, .song_control-replay.active,
.song_control-random.active, .song_control-replay.active {
  filter: brightness(1);
  text-shadow: #fff 0 0 5px;
}