.nav{
  min-width: 60px;
  &_container{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }
  &_tilte,&_setting{
    color: rgba($color: #fff, $alpha: 1.0);
  }
  &_list{
    &-item{

    }
    &-link{
      color: rgba($color: #fff, $alpha: 1.0);
    }
  }
  
}

