.nav{
  width: 80px;
  &_container{

  }
  &_tilte,&_setting{
    color: rgba($color: #fff, $alpha: 1.0);
  }
  &_list{
    &-item{

    }
    &-link{
      color: rgba($color: #fff, $alpha: 1.0);
    }
  }
  
}

