.play{
  flex: 1;
  display: flex;
  margin-left: -12px;
  &_song{
    display: none;
  }
  &_list{
    flex: 1;
    margin: 12px;
    background-color: var(--fourth-colour);
    border-radius: var(--border-radius);
    padding: 24px;
  }
}

// PLAY SONG


// PLAY LIST

.list{
  &_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_heading{
    font-size: 4.2rem;
    line-height: 4.6rem;
  }
  &_body{
    margin-top: 12px;
    display: flex;
  }
  &_trend{
    // flex: 1;
  }
  &_top{
    // width: var(--width-play);
  }
}

// SEARCH
.search{
  &_container{
    align-items: center;
    display: flex;
    min-width: 340px;
  }
  &_noti{
    color: var(--first-colour);
    font-size: 1.8rem;
    padding: 8px;
    margin-right: 8px;
    i{
      font-weight: 500;
    }
    &:hover{
      cursor: pointer;
    }
  }
  &_box{
    // border: 1px solid var(--second-colour);
    padding: 0 14px;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    flex: 1;
    box-shadow: rgba($color: #000000, $alpha: 0.1) 0 0 10px ;
  }
  &_icon{
    color: var(--first-colour);
    font-size: 1.8rem;
    margin-right: 8px;
    color: var(--second-colour);
  }
  &_input{
    border: none;
    flex: 1;
    padding: 10px 0;
    &::placeholder{
      font-size: 1.4rem;
      color: var(--second-colour);
    }
  }
}

// BANNER
.banner{
  &_img{
    display: block;
    padding-top: 240px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: var(--border-radius);
  }
}

// TREND
.trend{
  &_container{
    margin-top: 12px;
  }
  &_tilte{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_heading{
    font-size: 2.2rem;
    line-height: 3.6rem;
  }
  &_more{
    color: var(--third-colour);
    text-decoration: underline;
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding: 0 4px;
  }
}

// TREND LIST SONG
.trend {
  &_list{
    margin-top: 12px;
    margin-left: 12px;
}
  &_item{
    display: flex;
    margin-bottom: 12px;
}
  &_link{
    flex: 1;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
  &_song{
    display: flex;
    align-items: center;
}
  &_song-number{
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 3.6rem;
    color: var(--second-colour);
    margin-right: 16px;
}
  &_song-img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    $size: 60px;
    padding-left: $size;
    padding-top: $size;
    border-radius: calc(var(--border-radius) - 10px);
    margin-right: 16px;
}
  &_song-dic{
    display: flex;
    flex-direction: column;
}
  &_song-name{
    font-size: 1.6rem;
    font-weight: 550;
    color: var(--first-colour);
    margin-bottom: 8px;
}
  &_song-act{
    color: var(--second-colour);
    font-size: 1.2rem;
    font-weight: normal;
    i{
      margin-right: 4px;
    }
}
  &_time-song{
    color: var(--first-colour);
    font-size: 1.4rem;
    font-weight: 550;
}
  &_option{
  
}
  &_option-icon{
    color: var(--first-colour);
    font-size: 1.8rem;
    padding: 6px;
  &.--icon-op{
    margin-left: 16px;
  }
}
}

// ARTIST SONG
.artist {
  &_intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  &_heading{
    @extend .trend_heading;
}
  &_more{
    @extend .trend_more;
}
  &_list{
    margin-top: 12px;
}
  &_item{
    margin-bottom: 12px;
    &:last-child{
      margin-bottom: 0;
    }
}
  &_link{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  &_song-name{
    display: flex;
    align-items: center;
}
  &_img{
    @extend .trend_song-img;
}
  &_name{
    @extend .trend_song-name;
}
  &_song-dic{
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
}
  &_song-play{
    @extend .trend_song-act;
}
  &_song-play-icon{
    
}
  &_song-play-number{

}
  &_song-option{
    color: var(--first-colour);
    font-size: 1.8rem;
    padding: 6px;
}
}
.ti {
  &-headphone{

}
}