:root{
  // COLOUR
    --first-colour: #2d2e37;
    --second-colour: #c4c4c4;
    --third-colour: #3c3abe;
    --fourth-colour: #fcfcff;
    --fifth-colour: #170f23;
    --sixth-colour: #9b4de0;
  // FONT TEXT
    --main-font:'Rubik', sans-serif;
  // FORM
    --border-radius: 20px;

}


